* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}


header {
    background: #e9540a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #f4f4f4;
}

/* Hero Section Styles */
#hero {
    background: url('juanjo-jaramillo-mZnx9429i94-unsplash.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    opacity:0.7;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #ea5708;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.btn:hover {
    background: #c44569;
}

/* Section Styles */
section {
    padding: 60px 20px;
    margin-top: 50px;
}

#about, #contact {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.project p {
    color: #666;
}
.project3 {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    
}


.project3:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project {
        width: calc(100% - 40px);
    }

    .hero-content h2 {
        font-size: 2.2em;
    }

    .hero-content p {
        font-size: 1em;
    }
}
